<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LOGINFO" />
      <appender-ref ref="LOGDEBUG" />
    </root>
    <appender name="LOGINFO" type="log4net.Appender.RollingFileAppender">
      <file value="E:/App_Data/INFO/Logs" />
      <!--Log日誌存放路徑-->
      <appendToFile value="true" />
      <!--是否複寫到文件-->
      <staticLogFileName value="false" />
      <!--是否使用靜態文件名-->
      <datePattern value="yyyyMMdd'.log'" />
      <!--日誌文件名-->
      <rollingStyle value="Date" />
      <!--文件创建的方式-->
      <maxSizeRollBackups value="10" />
      <!--備份文件個數-->
      <maximumFileSize value="1MB" />
      <!--單個文件最大大小-->
      <!--佈局-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch  value="INFO" />
        <!--<param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />-->
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="LOGDEBUG" type="log4net.Appender.RollingFileAppender">
      <file value="E:/App_Data/DEBUG/Logs" />
      <!--Log日誌存放路徑-->
      <appendToFile value="true" />
      <!--是否複寫到文件-->
      <staticLogFileName value="false" />
      <!--是否使用靜態文件名-->
      <datePattern value="yyyyMMdd'.log'" />
      <!--日誌文件名-->
      <rollingStyle value="Date" />
      <!--文件创建的方式-->
      <maxSizeRollBackups value="10" />
      <!--備份文件個數-->
      <maximumFileSize value="1MB" />
      <!--單個文件最大大小-->
      <!--佈局-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
  </log4net>
</configuration>